* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1520804454307-f3755438375a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: lightgray; */
}

.header {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: lightgrey;
}

.main {
  background: lightgrey;
  color: black;
  padding: 50px;
  border-radius: 10px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 25px;
  position: relative;
  width: 300px;
  height: 150px;
  background-color: lightgrey;
  box-shadow: 0 20px 60px -6px white;
  border-radius: 10px;
}

.card-title {
  display: block;
  text-align: center;
  margin: 20px;
  color: black;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 10px;
  background-color: lightgrey;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.08);
}

button {
  background: #caf0f8;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #00b4d8;
  transform: translateY(-0.25em);
}

select {
  margin: 0.5em;
  padding: 1em 2em;
}

button:active,
.buttonPressed {
  background: #00b4d8;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
